@import "https://rotyflo.github.io/css/theme.css";

body {
  text-align: center;
}

.drum-pad {
  height: 100px;
  width: 100px;
  border: 1px solid var(--font-color);
  background-color: var(--background-color);
  color: var(--font-color);
}

#pads {
  width: 302px;
  margin: auto;
  border: 1px solid var(--font-color);
}